@import "../src/theme/variables.css";
@import "../src/theme/typography.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-size-base: 16px;
  --font-size-sm: 12px;
  --font-size-md: 14px;
  --font-size-lg: 18px;
}

* {
  font-family: "Moderustic", sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ion-input {
  /* margin-top: 18px;
  padding: 18px; */
}
ion-label {
  font-family: "Moderustic", sans-serif;
  font-weight: bold;
}
ion-button {
  margin: 16px 0;
}
body {
  font-size: var(--font-size-base);
  background-color: #250902;
}
ion-page {
  background-color: #250902;
}

button,
a {
  font-size: var(--font-size-base);
}
.small-text {
  font-size: var(--font-size-sm);
}
.center {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

@media (max-width: 600px) {
  body {
    font-size: 0.875rem;
  }
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  button,
  a {
    font-size: 0.875rem;
  }
  .small-text {
    font-size: 0.75rem;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  body {
    font-size: 1rem;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  button,
  a {
    font-size: 1rem;
  }
  .small-text {
    font-size: 0.875rem;
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  body {
    font-size: 1.125rem;
  }
  h1 {
    font-size: 2.25rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  button,
  a {
    font-size: 1.125rem;
  }
  .small-text {
    font-size: 1rem;
  }
}

@media (min-width: 1201px) {
  body {
    font-size: 1.25rem;
  }
  h1 {
    font-size: 2.625rem;
  }
  h2 {
    font-size: 2.25rem;
  }
  h3 {
    font-size: 2rem;
  }
  button,
  a {
    font-size: 1.25rem;
  }
  .small-text {
    font-size: 1.125rem;
  }
}
